

<header>
  <ul>
    <li id="logo"><a href="#"><img src="https://www.indracompany.com/sites/all/themes/custom/indracompany_bs/logo.png" alt="Inicio"></a></li>
   <li ><a class="link" [routerLink]="['/principal']" [routerLinkActive]="['actived']">Noticias</a></li>
   <li ><a class="link" [routerLink]="['/crear']" [routerLinkActive]="['actived']">Creat noticias</a></li>
  <li ><a class="link"[routerLink]="['/editar']" [routerLinkActive]="['actived']">Editar O eliminar noticias</a></li>
 

</ul>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>
<footer>
  Indra company
</footer>
